.alerts {
  position: fixed;
  background-color: rgba($color-dark, 0.8);
  color: $color-light;
  left: 50%;
  top: 10px;
  transform: translateX(-50%);
  z-index: 100;
  padding: 2rem;
  box-shadow: 0 0.4rem 0.8rem rgba(black, 0.1);
  border-radius: 5px;
}
