.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5rem 1rem;
  border-bottom: rgba($color-dark, 0.1) 2px solid;
  box-shadow: 0 0.2rem 0.4rem rgba(black, 0.1);
  background-color: $color-light;

  &__brand {
    font-size: 1.6rem;
    font-weight: 400;
    display: flex;
    align-items: center;

    span {
      margin-left: 0.5rem;
      font-size: 2rem;
      transform: rotate(24deg);
    }
  }

  &__nav {
    display: flex;
    margin-left: 2rem;

    &--item {
      // using px to make it easier for animation
      padding: 0 16px;
      position: relative;

      &:not(:last-child) {
        margin-right: 2rem;
      }

      // CRAP FROM ATTEMPT NUMBER 1

      // &:hover .sublist {
      //   transform: translate(-1.5rem, -1.5rem);
      // }

      // & .sublist {
      //   z-index: 1;
      //   display: block;
      //   position: absolute;
      //   transform: translate(-1.5rem, -500px);
      //   top: 2.5rem;
      //   background-color: $color-light;
      //   border-radius: 5px;
      //   // transition: all 0.1s ease-in;

      //   & li {
      //     background-color: $color-light;
      //     box-shadow: 0 0.5rem 1rem rgba($color-dark, 0.1);
      //     padding: 1rem;
      //   }

      //   &:hover {
      //     transform: translate(-1.5rem, 0);
      //   }
      // }

      &::after {
        content: '';
        height: 5px;
        width: 5px;
        background-color: $color-primary;
        position: absolute;
        bottom: -15px;
        left: 50%;
        border-radius: 100%;
        opacity: 0;
        transform: translate(-94px, -50%);
        z-index: 2;
      }

      &:hover {
        &::after {
          content: '';
          height: 5px;
          width: 5px;
          background-color: $color-primary;
          position: absolute;
          bottom: -15px;
          left: 50%;
          transform: translate(-50%, -50%);
          opacity: 1;
          border-radius: 100%;
          transition: all 0.2s ease-in;
        }
      }
    }
  }

  &__dashboard {
    margin-left: auto;
    display: flex;
    &--item {
      &:not(:last-child) {
        margin-right: 2rem;
      }
    }
  }
}
