.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 1rem;
  border-bottom: rgba($color-dark, 0.1) 2px solid;
  box-shadow: 0 0.2rem 0.4rem rgba(black, 0.1);
  background-color: $color-light;
  height: 50px;

  & ul {
    a {
      color: $color-dark;
    }
  }

  &__brand {
    font-size: 1.6rem;
    font-weight: 400;
    display: flex;
    align-items: center;

    span {
      margin-left: 0.5rem;
      font-size: 2rem;
      transform: rotate(24deg);
    }
  }

  &__nav {
    display: flex;
    margin-left: 2rem;
    height: 100%;
    font-weight: 700;

    &--item {
      margin: 2px;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      width: 100px;

      &:hover {
        background-color: rgba($color-dark, 0.1);
        border-radius: 5px;
      }
      transition: all 0.2s ease-in-out;
    }

    & .active {
      background-color: rgba($color-dark, 0.1);
      border-radius: 5px;
    }
    li {
      font-weight: 400;
    }
  }

  &__user {
    margin-left: auto;
    display: flex;
    height: 100%;

    position: relative;
    &--item {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      width: auto;
      &:not(:last-child) {
        margin-right: 2rem;
      }

      a {
        display: flex;
        align-items: center;
      }
    }

    & .sublist {
      position: absolute;
      background-color: bisque;
      border-radius: 5px;
      z-index: 5;
      top: 45px;
      width: 200px;
      height: 200px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      padding: 1rem;
      box-shadow: 0 0.4rem 0.8rem rgba(black, 0.2);
      background-color: $color-light;

      & li {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2px;
        border-radius: 5px;
        transition: all 0.2s ease-in-out;
        &:hover {
          background-color: rgba($color-dark, 0.1);
          border-radius: 5px;
        }
      }
    }

    span {
      margin: 5px;
      cursor: pointer;
      border-radius: 100%;
      transition: all 0.2s ease-in-out;

      &:active {
        transform: scale(0.9);
      }
    }

    & .toggled {
      background-color: $color-primary;
      color: $color-light;
    }
  }
}
