.calendar-page {
  padding: 1rem;
  h3 {
    display: flex;
    align-items: center;
    span {
      cursor: pointer;
      &:hover {
        color: $color-complement;
      }
    }
    .year {
      font-weight: 700;
      font-size: 1.2rem;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .summary-text {
      // width: 33.3%;
      display: flex;
      justify-content: flex-start;
      padding: 1rem;
      &--item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        &:not(:last-child) {
          margin-right: 1.5rem;
        }

        .stat {
          font-size: 1.8rem;
          font-weight: 400;
          transition: all 0.2s ease-in-out;
          &:hover {
            color: $color-complement;
          }
        }
        .selected {
          color: $color-complement;
        }
      }
    }

    .summary-graph {
      display: flex;
      .label {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  &__calendar {
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    .month {
      height: 15rem;
      position: relative;
      overflow: hidden;

      border-radius: 5px;
      background-color: $color-light;
      box-shadow: 0 0.4rem 0.8rem rgba($color-dark, 0.1);
      display: flex;

      //   align-items: center;
      justify-content: flex-end;

      transition: all 0.2s ease-in-out;
      cursor: pointer;

      &--label {
        font-size: 2rem;
        margin-right: 5px;
        margin-top: 5px;
      }

      &--metric {
        position: absolute;
        top: 25%;
        // transform: translateY(-50%);
        left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .stat {
          font-size: 1.5rem;
          font-weight: 400;
        }
      }

      &__graph {
        position: absolute;
        bottom: 0;
        margin-bottom: -2.5rem;
      }

      &:hover {
        background-color: $color-complement;
        color: $color-light;
      }
    }
  }
}
