.profile {
  &__top {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem;
    &--user {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      & img {
        width: 25%;
        border-radius: 100%;
      }
    }
    &--activities-summary {
      .total-activities {
        span {
          font-size: 2rem;
          font-weight: 700;
        }
      }

      .summary-visualization {
        &__table {
          table-layout: fixed;
          width: 50%;
          border-collapse: collapse;
          background-color: $color-light;
          overflow: hidden;
          box-shadow: 0 0.4rem 0.8rem rgba(black, 0.1);
          border-radius: 5px;

          td {
            text-align: center;
          }

          thead {
            font-weight: 700;
            background-color: rgba($color-dark, 0.2);
          }

          tbody {
            padding: 1rem;
            td {
              cursor: pointer;
              position: relative;

              time {
                // display: none;
                position: absolute;
                opacity: 0;
                font-weight: 400;
                font-size: 1.2rem;
                text-decoration: underline;
                transition: all 0.2s ease-in-out;
                top: -2.5px;
              }
              span {
                opacity: 1;
                transition: all 0.2s ease-in-out;
                &.filled {
                  color: $color-primary;
                }
              }

              &:hover {
                & time {
                  opacity: 1;
                }
                & span {
                  opacity: 0;
                }
              }
            }
          }
        }
      }
    }
  }
  &__metrics {
  }
}
