// COLORS

$color-primary: #7c8e51;
$color-primary-dark: #4a5532;
$color-secondary: #384d47;
$color-complement: #d30068;
$color-grey: #6b7478;
$color-text: #333;
$color-dark: #414141;
$color-light: #fff;
$color-background: #f7f7fa;
$danger-color: #dc3545;
$success-color: #28a745;

// Set text color based on background
@function set-text-color($color) {
  @if (lightness($color) >60) {
    @return $color-text;
  } @else {
    @return $color-light;
  }
}

// Set background & text color
@mixin set-background($color) {
  background-color: $color;
  color: set-text-color($color);
}
